<link href='http://fonts.googleapis.com/css?family=Lobster|Anton|Pacifico|Playfair+Display+SC|Playball' rel='stylesheet' type='text/css'>
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<style>
/*fonts:
font-family: 'Playfair Display SC', serif;
font-family: 'Pacifico', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Playball', cursive;
*/
   span{
        font-family: 'Playfair Display SC', serif;
    }
    
    #nav_links:hover{
        color:#fce757;
    }
    
    h1{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .form-control{
    	font-family: 'Playball', serif;
    	color:black;
    }
    .dropDown{
    	font-family: 'Playball', serif;
    	color:black;
    }
    
    #control-label{
        font-family: 'Playfair Display SC', serif;
    }
    h5{
        font-family: 'Playfair Display SC', serif;
    }
    li{
        font-family: 'Playfair Display SC', serif;
    }
    select{
        font-family: 'Playfair Display SC', serif;
    }
    .form-group{
    	"font-family: 'Playfair Display SC', serif;
    }
    </style>

<section data-ng-controller="ArticlesController">
	<div class="page-header">
		<h1>New Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default" style="color:gold; font-family:'Playfair Display SC', serif; background-color: black;">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>